body {
    background: #333333 url('../img/logo-codingtheworld.png');
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
}

@media (min-width: 450px) {
    body {
        background-size: 550px;
        background-position-x: center;
    }
}

.navbar {
    background-color: #6e2533;
    border: none;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.navbar.transparent {
    background-color: rgba(181, 20, 50, 0.45);
    border: none;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
    color: #7c7b7b;
}

.navbar-default .navbar-toggle {
    border-color: #7c7b7b;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #7c7b7b;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #7e2a3a;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #de95a3;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 28px;
        padding-bottom: 27px;
        padding-left: 30px;
        padding-right: 30px;
    }
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}

.navbar-collapse {
    border-top: 1px solid transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-brand {
    background: url('../img/logo-zenika.png');
    background-size: 198px 45px;
    background-repeat: no-repeat;
    font-size: 0;
    margin: 15px;
    width: 198px;
    height: 45px;
}

.navbar-toggle {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left: -5px;
    }
}

@font-face {
    font-family: 'Monofonto-Regular';
    src: url('../font/Monofonto-Regular.eot?#iefix') format('embedded-opentype'), url('../font/Monofonto-Regular.woff') format('woff'), url('../font/Monofonto-Regular.ttf') format('truetype'), url('../font/Monofonto-Regular.svg#Monofonto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'Monofonto-Regular';
    color: white;
    text-align: center;
    margin-top: 80%;
    font-size: 46px;
    margin-bottom: 25px;
}

@media (min-width: 450px) {
    h1 {
        margin-top: 430px;
        font-size: 50px;
    }
}

a.join, a.join:visited, a.join:hover, a.join:focus {
    border-radius: 10px;
    background-color: #b31835;
    font-family: 'Monofonto-Regular';
    font-size: 42px;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}

a.join:hover {
    color: #de95a3;
}

blockquote {
    color: white;
    width: 100%;
    max-width: 450px;
    text-align: justify;
    text-justify: inter-word;
    display: inline-block;
    position: relative;

    padding: 10px 20px;
    margin: 20px 0 100px;
    font-size: 18px;
    border-left: none;
}

blockquote::before, blockquote::after {
    font-family: Georgia, serif;
    font-size: 60px;
    font-weight: bold;
    color: white;
}

blockquote::before {
    content: "\201C";
    position: absolute;
    left: 20px;
    top: -12px;
}

blockquote::after {
    content: "\201D";
    position: absolute;
    right: 18px;
    bottom: 4px;
}

blockquote div {
    text-align: right;
    padding-top: 10px;
}

span.role {
    font-style: italic;
    color: #7c7b7b;
}

footer {
    color: white;
    text-align: left;
    font-size: 10px;
    background-color: #6e2533;
    background-color: rgba(181, 20, 50, 0.45);
    padding: 15px 0;
}

footer a, footer a:visited, footer a:focus {
    color: white;
}

footer a:hover {
    color: #de95a3;
    text-decoration: none;
}

footer img.logo-zenika {
    height: 37px;
    margin-bottom: 15px;
}

footer img.logo-greatplacetowork {
    height: 95px;
    margin-bottom: 10px;
}