@font-face {
  font-family: 'Monofonto-Regular';
  src: url('Monofonto-Regular.eot?#iefix') format('embedded-opentype'),  url('Monofonto-Regular.woff') format('woff'), url('Monofonto-Regular.ttf')  format('truetype'), url('Monofonto-Regular.svg#Monofonto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
